In [5]:
# Import required libraries
import pandas as pd
from pathlib import Path

# Define global variables
global crypto
global prices_df

In [14]:
# Determine which file to load; default to Bitcoin if invalid value passed
match crypto :
    case "Bitcoin":
         pathname = Path("data/BTC-USD.csv")
    case "Etherium":
         pathname = Path("data/ETH-USD.csv")
    case "Solana":
         pathname = Path("data/SOL-USD.csv")  
    case _:
         pathname = Path("data/BTC-USD.csv")

In [33]:
# Read file
prices_df = pd.read_csv(
    pathname, 
    index_col="Date", 
    parse_dates=True
)

# Drop columns except Date and Close
prices_df = prices_df[["Close"]]

# Drop Nulls
prices_df = prices_df.dropna()

# Display sample data
display(prices_df.head())

                   Close
Date
2021-07-01  33572.117188
2021-07-02  33897.046875
2021-07-03  34668.546875
2021-07-04  35287.781250
2021-07-05  33746.003906